* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f7fa;
}

.header {

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: #0b5ed7;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    background: white;
    margin-right: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.banner {
    height: 320px;
    background-image: url("https://thanhnien.mediacdn.vn/Uploaded/minhnguyet/2022_08_09/truong-thcs-8051.jpg");
    background-size: cover;
    background-position: center 10%;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.banner-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 1;
}

.banner-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.banner-text p {
    font-size: 18px;
}

.section {
    padding: 40px 60px;
}

.section h2 {
    color: #0b5ed7;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #0b5ed7;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card h3 {
    color: #0b5ed7;
    margin-bottom: 10px;
}

.screen2 {
    background: #eef3ff;
}

.screen2-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.screen2-item {
    background: white;
    border: 2px solid #0b5ed7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.screen2-item h3 {
    color: #0b5ed7;
    margin-bottom: 10px;
}


footer {
    background: #0b5ed7;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
